body {
    background-color: rgb(156, 209, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
h1 {
    font-size: 160px;
}
a {
    color: black;
    text-decoration: none;
    font-size: 40px;
}
#loginButton, #registerButton {
    padding: 10px;
}

#signupButton {
    position: relative;
    padding: 100px;
}

#aboutText {
    font-family: 30px;
}

input[type="text"], input[type="password"], input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    font-size: 30px;
}

nav {
    background-color: rgb(100, 100, 100);
    padding: 20px;
    margin: 0;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}

.navLink {
    color: white;
    font-size: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: rgb(100, 100, 100);
}