body {
    background-color: rgb(156, 209, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
h1 {
    font-size: 160px;
}
a {
    color: black;
    text-decoration: none;
    font-size: 40px;
}
#loginButton, #registerButton {
    padding: 10px;
}

#signupButton {
    position: relative;
    padding: 100px;
}

#aboutText {
    font-family: 30px;
}

input[type="text"], input[type="password"], input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    font-size: 30px;
}

nav {
    background-color: rgb(100, 100, 100);
    padding: 20px;
    margin: 0;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}

.navLink {
    color: white;
    font-size: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: rgb(100, 100, 100);
}
.blog-content {
    min-height: calc(100vh - 70px);
  }

h2 {
    font-size: 50px;
}

.dropbtn {
    background-color: rgb(100, 100, 100);
    color: white;
    font-size: 20px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(100, 100, 100)1;}