{% extends 'base.html' %}
{% include 'nav.html' %}
<title>{% block title %} - Create a carpool{% endblock %}</title>
{% block content %}
    {% block nav%}
    {% endblock %}
    <h2>New Carpool</h2>
    <h3>Please check your email after creating a carpool to check if someone has replied to your post.</h3>
    <form method="post">
        <label for="location">Location</label>
        <input name="location" id="location" type="text"></input>
        <input type="submit" value="Submit">
    </form>
{% endblock %}