{% extends 'base.html' %}
{% include 'nav.html' %}
<title>{% block title %} - Create a carpool{% endblock %}</title>
{% block content %}
    {% block nav%}
    {% endblock %}
    <h2>Carpools will last until you close your carpool.</h2>
    //full functionality has not been implemented on the backend yet
    <form method="post">
        <p>
            <label for="location">What location are you going to?</label>
            <input type="text" name="location" id="location" placeholder="location">
        </p>
        <p>
            <label for="currentUserLocation">What is your current address?</label>
            <input type="text" name="currentUserLocation" id="currentUserLocation" placeholder="current address">
        </p>
        <p>
            <label for="userState">What state are you currently in?</label>
            <input type="text" name="userState" id="userState" placeholder="State">
        </p>
        <p>
            <label for="userCountry">What country are you currently in?</label>
            <input type="text" name="userCountry" id="userCountry" placeholder="Country">
        </p>
        <p>
            <input type="submit" name="submit" value="Submit">
        </p>
    </form>
{% endblock %}