<!-- nav block for the rest of the files -->
{% block nav %}
        <nav>
            <a href="{{ url_for('dashboard') }}" class="navLink">Dashboard</a>
            <a href="{{ url_for('createCarpool') }}" class="navLink">Carpool</a>
            <a href="{{ url_for('about') }}" class="navLink">About</a>
            <div class="dropdown">
                <button class="dropbtn">Account</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('logout') }}" class="navLink">Logout</a>
                    <a href="{{ url_for('edit') }}" class="navLink">My Account</a>
                </div>
            </div>
            
        </nav>
{% endblock %}